- model_class = Car
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
.col-md-4
  %p
    %strong= model_class.human_attribute_name(:make) + ':'
    %br
    = car.make
  %p
    %strong= model_class.human_attribute_name(:model) + ':'
    %br
    = car.model
  %p
    %strong= model_class.human_attribute_name(:description) + ':'
    %br
    = car.description
  %p
    %strong= model_class.human_attribute_name(:comfort_class) + ':'
    %br
    = car.comfort_class


  = link_to t('.back', :default => t("helpers.links.back")), cars_path, :class => 'btn btn-default'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_car_path(car), :class => 'btn btn-default'
.row
  #my_own_legend.col-md-2
  %p.col-md-2
    Booked dates
  .row
    %div{:style => "overflow:hidden;"}
      .form-group
        .row
          .col-md-8
            #datetimepicker12
%h2 Car's Rental Orders
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:customer_id)
      %th= model_class.human_attribute_name(:car_id)
      %th= model_class.human_attribute_name(:start_date)
      %th= model_class.human_attribute_name(:end_date)
      %th= model_class.human_attribute_name(:created_at)
      %th= model_class.human_attribute_name(:cost)
  %tbody
    - car.rental_orders.each do |rental_order|
      %tr
        %td= link_to rental_order.id, rental_order_path(rental_order)
        %td= rental_order.customer.decorate.full_name
        %td= rental_order.car.decorate.full_name
        %td= rental_order.start_date.strftime('%D')
        %td= rental_order.end_date.strftime('%D')
        %td= rental_order.created_at.strftime('%c')
        %td= "#{rental_order.decorate.rental_cost} zl"
%button#refresh_button{:type => "button"} Refresh calendar for the current car
